/* reset */
* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

#wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

#logo {
  padding: 15px 20px;
  font-size: 2em;
  font-weight: 800;
}
#logo a {
  color: red;
  text-decoration: none;
}

label {
  cursor: pointer;
}
label:focus {
  outline: none;
}

label.nav-menu-toggle {
  margin-top: 8px;
  margin-right: 4px;
  width: 60px;
  background: white;
  padding: 0;
}
label.nav-menu-toggle span.ham {
  display: block;
  margin: 8px 8px;
  height: 6px;
  width: 45px;
  background: red;
  border-radius: 9px;
  transition: transform 0.35s;
}

.nav-menu {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  width: 240px;
  height: 100%;
  transform: translate3d(240px, 0, 0);
  transition: transform 0.35s;
  z-index: 9999;
}
.nav-menu ul {
  list-style: none;
}
.nav-menu ul li > label {
  background: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-right-b-128.png) 95% 50%/16px 16px no-repeat;
}
.nav-menu ul li a, .nav-menu ul li label {
  display: block;
  text-align: center;
  padding: 0 20px;
  line-height: 60px;
  text-decoration: none;
  color: red;
}
.nav-menu ul li a:hover, .nav-menu ul li label:hover {
  color: #666;
}

/* hide inputs */          
.nav-menu-checkbox {
  display: none;
}

/* Utility Menu */
.utility-menu {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
}

label.new-folder-button-label {
  display: block;
  margin: 2px 0px;
  height: 30px;
  width: 30px;
  padding-left: 22px;
  background: url("/static/resources/add_directory.png") 50% 50%/30px 30px no-repeat;
}

input.new-folder-button {
  display: none;
}

label.paste-item-button-label {
  display: block;
  margin: 2px 0px;
  height: 30px;
  width: 30px;
  padding-left: 22px;
  background: url("/static/resources/paste.png") 50% 50%/30px 30px no-repeat;
}

input.paste-item-button {
  display: none;
}

label.up-folder-button-label {
  display: block;
  margin: 2px 0px;
  height: 30px;
  width: 30px;
  padding-left: 22px;
  background: url("/static/resources/up_directory.png") 50% 50%/30px 30px no-repeat;
}

input.up-folder-button {
  display: none;
}

.fade-element {
  pointer-events: none;
  opacity: 0.5;
}

/* Explorer Content */
.content {
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 5px;
  margin-left: 30px;
  margin-right: 30px;
  width: calc(100% - 60px);
}
.content div.items {
  width: 100%;
  overflow-x: hidden;
}
.content div.items input {
  display: none;
}
.content div.items form.item {
  display: none;
}

label.itemlabel {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: rgba(255, 0, 0, 0.688);
  color: black;
  margin-top: 2px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
label.itemlabel span {
  display: block;
  margin: 2px 0px;
  height: 30px;
  width: 30px;
  padding-left: 22px;
}
label.itemlabel span.post {
  background: url("/static/resources/media.png") 50% 50%/30px 30px no-repeat;
}
label.itemlabel span.inbuilt_folder {
  background: url("/static/resources/inbuilt_folder.png") 50% 50%/30px 30px no-repeat;
}
label.itemlabel span.user_folder {
  background: url("/static/resources/user_folder.png") 50% 50%/30px 30px no-repeat;
}

/* Login Page */
.login-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-left: 30px;
  margin-right: 30px;
}
.login-menu form#login-form input#login-button {
  display: none;
}

label#login-button-label {
  margin: 3px 0px;
  height: 50px;
  width: 150px;
  line-height: 50px;
  border: 1px solid white;
  border-radius: 20px;
  text-align: center;
  background: red;
}

/* New Folder Page */
.new-folder-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-left: 30px;
  margin-right: 30px;
}
.new-folder-menu form#newfolderform input#foldername-text {
  margin: 20px 0px;
  height: 40px;
  border: 3px solid black;
  border-radius: 10px;
}
.new-folder-menu form#newfolderform input#cancel-create-folder-button {
  display: none;
}
.new-folder-menu form#newfolderform input#create-folder-button {
  display: none;
}

label#foldername-text-label {
  font-size: 1.5em;
  color: red;
}

label#cancel-create-folder-label {
  margin: 3px 0px;
  height: 40px;
  width: 150px;
  line-height: 40px;
  border: 1px solid red;
  border-radius: 20px;
  text-align: center;
  background: white;
}

label#create-folder-label {
  margin: 3px 0px;
  height: 40px;
  width: 150px;
  line-height: 40px;
  border: 1px solid white;
  border-radius: 20px;
  text-align: center;
  background: red;
}

/* Playback Page */
label.prev-item-button-label {
  display: block;
  margin: 2px 0px;
  height: 30px;
  width: 30px;
  padding-left: 22px;
  background: url("/static/resources/prev.png") 50% 50%/30px 30px no-repeat;
}

input.prev-item-button {
  display: none;
}

label.copy-item-button-label {
  display: block;
  margin: 2px 0px;
  height: 30px;
  width: 30px;
  padding-left: 22px;
  background: url("/static/resources/copy.png") 50% 50%/30px 30px no-repeat;
}

input.copy-item-button {
  display: none;
}

label.next-item-button-label {
  display: block;
  margin: 2px 0px;
  height: 30px;
  width: 30px;
  padding-left: 22px;
  background: url("/static/resources/next.png") 50% 50%/30px 30px no-repeat;
}

input.next-item-button {
  display: none;
}

#video-playback {
  margin: 10px 15px;
}

/* hide navigation icon for sublabels */    
/* fade in checked menu */    
.nav-menu-checkbox:checked + .nav-menu {
  display: block;
  transform: translate3d(0, 0, 0);
}

.nav-menu-checkbox:checked + label.nav-menu-toggle span.ham:nth-child(1) {
  transform: rotate(-45deg) translate(-10px, 15px);
  transition: transform 0.35s;
}
.nav-menu-checkbox:checked + label.nav-menu-toggle span.ham:nth-child(2) {
  opacity: 0;
  transition: transform 0.35s;
}
.nav-menu-checkbox:checked + label.nav-menu-toggle span.ham:nth-child(3) {
  transform: rotate(45deg) translate(-3px, -10px);
  transition: transform 0.35s;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}/*# sourceMappingURL=style.css.map */